aiohttp==3.8.6
aiosignal==1.3.1
altgraph==0.17.4
androguard==3.3.5
argcomplete==3.1.2
arpy==2.3.0
asgiref==3.7.2
asn1crypto==1.5.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
Babel==2.10.3
backoff==2.2.1
beautifulsoup4==4.12.2
biplist==1.0.3
blc==0.1.2
blinker==1.6.3
boltons==21.0.0
Brotli==1.0.9
build==0.10.0
CacheControl==0.13.1
censys==2.2.8
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.0
cleo==2.1.0
click==8.1.7
click-plugins==1.1.1
clikit==0.6.2
colorama==0.4.6
colorlog==6.7.0
commonmark==0.9.1
contourpy==1.1.1
crashtest==0.4.1
crit==3.17.1
CRLFsuite==2.5.2
crypto==1.4.1
cryptography==41.0.5
cycler==0.12.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dirsearch==0.4.3
distlib==0.3.7
distro==1.8.0
Django==4.2.6
dulwich==0.21.6
EditorConfig==0.12.3
executing==2.0.1
filelock==3.12.4
Flask==3.0.0
Flask-Limiter==3.5.0
Flask-ReCaptcha==0.4.2
Flask-WTF==1.2.1
fonttools==4.43.1
frida==16.1.4
frida-tools==12.3.0
frozenlist==1.4.0
future==0.18.3
gevent==23.9.1
ghauri==1.2.6
git-dumper==1.0.6
graphqlmap==0.0.1
greenlet==3.0.0
grequests==0.7.0
gyp==0.1
html5lib==1.1
idna==3.4
importlib-metadata==4.12.0
importlib-resources==6.1.0
installer==0.7.0
IP2Location==8.10.0
ipython==8.17.2
itsdangerous==2.1.2
jaraco.classes==3.3.0
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.2
jsbeautifier==1.14.9
jsonschema==4.17.3
kali-tweaks==2023.3.2
keyring==24.2.0
kiwisolver==1.4.5
lib==4.0.0
lief==0.13.2
limits==3.6.0
lxml==4.9.3
Mako==1.2.4.dev0
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mmh3==4.0.1
more-itertools==10.1.0
msgpack==1.0.7
multidict==6.0.4
Naked==0.1.32
networkx==3.2.1
ntlm-auth==1.4.0
numpy==1.26.1
openstep-parser==1.5.4
ordered-set==4.1.0
oscrypto==1.3.0
packaging==23.2
parso==0.8.3
passlib==1.7.4
pastel==0.2.1
pdfkit==1.0.0
peewee==3.17.0
pendulum==2.1.2
pexpect==4.8.0
Pillow==10.1.0
pkginfo==1.9.6
platformdirs==3.11.0
pluginbase==1.0.1
ply==3.11
poetry==1.6.1
poetry-core==1.7.0
poetry-plugin-export==1.6.0
pprintpp==0.4.0
prettytable==3.6.0
prompt-toolkit==3.0.39
protobuf==4.21.12
psutil==5.9.6
ptyprocess==0.7.0
publicsuffix2==2.20191221
pure-eval==0.2.2
pycparser==2.21
pycryptodome==3.19.0
pydot==1.4.2
Pygments==2.16.1
pylev==1.4.0
pyOpenSSL==23.3.0
pyparsing==3.1.1
pyperclip==1.8.2
pyproject_hooks==1.0.0
pyrsistent==0.20.0
PySocks==1.7.1
python-apt==2.6.0
python-dateutil==2.8.2
python-magic==0.4.27
pytz==2023.3.post1
pytzdata==2020.1
PyYAML==6.0.1
rapidfuzz==3.4.0
requests==2.31.0
requests-file==1.5.1
requests-ftp==0.3.1
requests-ntlm==1.1.0
requests-toolbelt==1.0.0
retrying==1.3.4
rich==1.3.1
ruamel.yaml.clib==0.2.8
rzpipe==0.6.0
SecretStorage==3.3.3
shellescape==3.8.1
shellingham==1.5.4
shelljob==0.6.3
shodan==1.30.1
simplejson==3.19.2
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.4.4
stack-data==0.6.3
suricata-update==1.3.0
svgutils==0.3.4
tenacity==8.2.3
termcolor==2.3.0
tinydb==4.8.0
tld==0.11.11
tldextract==5.0.1
tomli==2.0.1
tomlkit==0.12.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.13.0
trove-classifiers==2023.10.18
typing_extensions==4.8.0
tzdata==2023.3
ujson==5.8.0
urllib3==1.26.18
urwid==2.1.2
virtualenv==20.24.6
wafw00f==2.2.0
wapiti3==3.0.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.1.2
whitenoise==6.6.0
wrapt==1.15.0
WTForms==3.1.0
XlsxWriter==3.1.9
yara-python-dex==1.0.6
yarl==1.9.2
yaswfp==0.9.3
zipp==1.0.0
zope.event==5.0
zope.interface==6.1
zstandard==0.19.0
